body {
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
    min-width: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(43, 37, 37);
    overflow-y: scroll;

}


#root {
    min-height: 100vh;
    height: 100%;
    min-width: 100vh;
    width: 100%;
    background-image: url(./Imgs/Space.jpg);
    background-size: cover;

}

.parentdiv {
    min-height: 100vh;
    height: 100%;
    min-width: 100vh;
    width: 100%;
}

.Main-Header {
    display: flex;
    min-width: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-style: solid;
    min-height: 250px;
    height:25%;
}

.header-title {
   align-self: center;
   text-align: center;
   color: rgb(250, 162, 0);
   width: 30vh;
   height: 100%;
}

.Navbar {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.Nav-btn {
    background-color: rgba(76, 76, 76, 0.633);
    border-color: transparent;
    border-radius: 100%;
    font-size: x-large;
    color: rgb(255, 184, 3);
    transition: all 0.7s ease-in-out;
    min-height:100% ;    
}

.Nav-btn:hover {
    transform: scale(2);
    color: rgb(255, 188, 3);
}

.Nav-btn-active {
    background-color:  rgba(76, 76, 76, 0.633);
    border-color: transparent;
    color: rgb(175, 1, 1);
    border-radius: 100%;
    font-size: x-large;
    box-shadow: 0px 0px 40px 5px rgb(196, 196, 196);
}

.main-article {
    width: 100%;
    min-height: 75vh;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(43, 37, 37);
    border-top: 2px solid rgb(250, 162, 0);
    box-shadow: 0px 0px 40px 5px rgb(196, 196, 196);
    padding-bottom: .25%;
}

.page-title {
    color:rgb(255, 184, 3);
    border-bottom: 2px dotted;
    margin-bottom: 2%;
    margin-top:  1%;
}

.paragraph-about {
    width: 70%;
    height: 80%;
    margin-bottom: 1%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 184, 3);
    background-color: rgba(255, 255, 255, 0.78);
    box-shadow: 0px 0px 40px 5px rgb(196, 196, 196);
    display: flex;
    flex-direction: row;
    padding: 1%;
}

.pfp-parent {
    min-height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.pfp {
    height: 40vh;
    align-self: center;
    border-radius: 50%;
    border-color: rgb(255, 184, 3);
    border-style: solid;
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.383);
    overflow-x: hidden;
}

.About-textbox {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align:justify ;
    text-indent: 5%;
    padding: 4%;
    overflow-y: scroll;
}

/* Old Remember to delete this if it doesnt get used at some point*/
.paragraph {
    width: 70%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 184, 3);
    background-color: rgba(252, 252, 252, 0.78);
    align-self: center;
    justify-self: center;
    height: 80%;
    margin-bottom: 1%;
}

.contact-parent {
    width: 70%;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.btn-plus-fields-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-h3 {
    color:rgb(255, 184, 3);
}

.standard-input {
    min-width: 25vh;
    max-width: 35vh;
    box-shadow: 0px 0px 10px 2.5px rgb(196, 196, 196);
    border-color: rgb(250, 162, 0);
}

.contact-btn {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-color:rgb(71, 71, 71); 
    box-shadow: 0px 0px 40px 5px rgb(196, 196, 196);
    color: white;
    
    border-color: transparent;
}

.contact-btn:hover {
    background-color:rgb(250, 162, 0);
    box-shadow: 0px 0px 120px 25px rgb(250, 162, 0);
    color: rgb(175, 1, 1);
}

.lg-input {
    min-height: 40vh;
    box-shadow: 0px 0px 10px 2.5px rgb(196, 196, 196);
    border-color: rgb(250, 162, 0);  
}

.download-txt {
    color: rgb(250, 162, 0);
    padding-bottom: 10vh;
}

.download-link {
    color: rgb(175, 1, 1);
}

.resume-parent {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
}

.frontend-parent {
    flex-direction: column;
}

.resume-p {
    color: rgb(175, 1, 1);
    text-align: center;
}

.backend-parent {
    flex-direction: column;
}

.portfolio-parent {
    width: 84%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.portfolio-col-1 {
    flex-direction: column;
    width: 40%;
    height: 20%;
}

.portfolio-col-2 {
    flex-direction: column;
    width: 40%;
    height: 20%;
}

.project-parent {
    height: 18vh;
    min-width: 39vh;
    background-color: aqua;
}






.Footer-Box {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    max-height: 50vh;
    align-items: center;
    justify-items: center;
    border-top: 2px solid rgb(250, 162, 0);
}

.Footer-content-Parent {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon {
    height: 100%;
    font-size: 5vh;
    display: flex;
}

.iconcolor {
    color:rgb(250, 162, 0);
}

.iconcolor:hover {
    color:rgb(255, 255, 255);
}

